@charset "utf-8";
/* CSS Document */
html,body,div,ul,li,p,span,a,input,strong,textarea,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,pre,form,fieldset,blockquote{margin:0;padding:0;}
img{border:0 none;}
em,i{font-style:normal;}
ul,li,ol{list-style-type:none;}
input{outline:none;}
input::-ms-clear,input::-ms-reveal{display:none;}
input[type="submit"],input[type="button"]{star:expression(this.onFocus=this.blur());}
a,a:link,a:visited{text-decoration:none;outline:none;star:expression(this.onFocus=this.blur());}
a:hover{text-decoration:none;}
.none{display:none;}
.inline_block{display:inline-block; *display:inline; *zoom:1;}
.f_l{float:left;}
.f_r{float:right;}
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.ellipsis{overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
body{font:14px/1.4 '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,'\5B8B\4F53',sans-serif;overflow:hidden;}
/*.popup-mask{width:100%;height:100%;background:url(../img/pic-bg.png);position:fixed;top:0;left:0;z-index:100;}*/
.popup{width:536px;background-color:#fff;overflow:hidden;position:relative;/*left:50%;margin-left:-268px;top:50%;*/margin:0 auto;padding-bottom:30px;}
.popup-title{line-height:60px;background-color:#61aefe;font-size:20px;color:#fff;text-align:center;position:relative;}
.icon{display:block;background:url(../img/icon.png) no-repeat;}
.popup-title .icon-close{width:28px;height:28px;background-position:-170px -5px;position:absolute;top:16px;right:10px;cursor:pointer;}
.popup .popup-con .popup-con-top{padding:36px 50px;border-bottom:1px dashed #c6c6c6;}
.popup .popup-con .icon-sad{width:46px;height:46px;background-position:-121px -5px;display:inline-block;vertical-align:middle;}
.popup .popup-con .txt-info{/*width:336px;display:inline-block;vertical-align:middle;margin-left:5px;*/color:#54536a;font-weight:600;}
.popup-con-main{width:360px;margin:20px auto;}
.popup-con-main .row{margin:8px 0;}
.popup-con-main .row .add ul,.popup-con-main .row .add .add-reduce{display:inline-block;}
.add-reduce .icon{width:18px;height:13px;cursor:pointer;}
.add-reduce .icon-add{background-position:-80px -61px;margin-bottom:2px;}
.add-reduce .icon-reduce{background-position:-80px -76px;}
.popup-con-main .row .add .add-reduce{margin-left:-4px;}
/*.popup-con-main .buy-way{display:-none;}*/
/*.popup-con-main .buy-way.active{display:block;}*/
.buy-way .row-txt{color:#ff6633;}
.pay{color:#ff6633;font-size:18px;padding:0 6px;font-weight:700;}
.prime-cost{text-decoration:line-through;margin-left:10px;}
.row .row-right ul li{float:left;color:#555;cursor:pointer;border:1px solid #cfcfcf;width:72px;height:26px;margin-right:8px;line-height:26px;text-align:center;position:relative;}
.row .row-right ul li.checked{border:none;color:#3396ff;border:1px solid #3396ff;}
.row .row-right ul li.checked .icon{display:block;}
.row .row-right ul li .icon{position:absolute;bottom:0;right:0;width:10px;height:10px;display:none;background:url(../img/icon.png) no-repeat -5px -61px;}
.row .row-right ul li .hot{position:absolute;right:-1px;top:-8px;background-color:#ff6633;color:#fff;font-size:12px;display:block;line-height:1;padding:1px;}
.row .row-right ul li .abs{position:absolute;right:5px;top:6px;line-height:1.0;font-size:12px;}
.row .row-right,.row .row-left{display:table-cell;vertical-align:middle;}
#monthWay .row-right,#monthWay .row-left{vertical-align:top;}
#monthWay ul li{margin-bottom:6px;}
.row .row-left{width:85px;text-align:right;}
#timeWay li .nums{width:50px;border:none;padding:0;}
#timeWay li .nums input{width:72px;line-height:26px;height:26px;text-align:center;border:none;background:none;}
.popup-con .popup-con-bottom{padding:30px 0;}
.popup-con-bottom ul{text-align:center;}
.popup-con-bottom ul li{margin-right:40px;display:inline-block;vertical-align:middle;color:#000;}
.popup-con-bottom ul li .icon-weixin{width:48px;height:48px;background-position:-8px -5px;display:inline-block;vertical-align:middle;cursor:pointer;}
.popup-con-bottom ul li .txt{display:inline-block;padding-left:10px;}
.popup-con-bottom ul li .icon-zfb{width:48px;height:48px;background-position:-64px -5px;display:inline-block;vertical-align:middle;cursor:pointer;}
.popup-con-bottom ul li .txt-limit{border:1px solid #cfcfcf;padding:3px 8px;cursor:pointer;font-size:12px;}
.customer_service{position:absolute;bottom:10px;right:0;display:inline-block;}
.customer_service img{display:block;}
.customer_activation{position:absolute;bottom:10px;left:0;display:inline-block;color:#7F7F7F;font-size:15px;}
.customer_activation img{display:inline-block;vertical-align:middle;margin-right:5px;}
.customer_activation:hover{color:#248AD3;}
/*微信支付页面*/
.weixin h3{padding-left:26px;line-height:68px;font-weight:500;}
.weixin .weixin-main{width:436px;margin:0 auto;}
.weixin-main ul{text-align:center;}
.weixin-main li{display:inline-block;vertical-align:middle;}
.weixin-main li.code{padding-right:50px;border-right:1px solid #cfcfcf;margin-right:12px;}
.weixin .weixin-main-code{border:1px solid #cfcfcf;}
.weixin .weixin-main-txt{text-align:center;line-height:40px;color:#000;}
.weixin .weixin-main-bottom{text-align:center;margin:30px 0 60px;}
.weixin-main-bottom .btn{width:160px;display:inline-block;padding:13px 0;color:#000;text-decoration:none;border-radius:2px;cursor:pointer;}
.weixin-main-bottom .getback{margin-right:10px;color:#fff;}
.links-on{background-color:#61aefe;}
.links-off{border:1px solid #cfcfcf;}
.links-on:hover{background-color:#3d8bdd;}
.links-off:hover{background-color:#e0e0e0;}

/*支付/失败成功*/
.pay-success{text-align:center;}
.pay-fail{text-align:center;padding-bottom:50px;}
.pay-top{padding:32px 0 50px;}
.pay-top .icon-success{background-position:-28px -59px;width:45px;height:45px;vertical-align:middle;display:inline-block;}
.pay-top p{display:inline-block;vertical-align:middle;margin-left:20px;}
.color_ff6633{color:#ff6633;}
.pay-on{margin:20px 0;}
.pay-on .btn{display:inline-block;width:140px;padding:10px 0;border-radius:2px;color:#000;}
.pay-on .buy-continue{margin-right:10px;color:#fff;}
.pay-success .txt{padding:10px 0;}
.pay-success .share-box{width:320px;margin:0 auto 50px;text-align:right;}
.pay-success .share{padding:8px 16px;border:1px solid #61aefe;color:#61aefe;display:inline-block;cursor:pointer;}
.pay-success .share a{color:#61aefe;}
.pay-success .share:hover{background-color:#d2e7fd;}
.pay-success .share .icon-share{width:18px;height:26px;background-position:-4px -78px;vertical-align:middle;display:inline-block;}
.pay-success .share span{padding-left:6px;}
.pay-fail .icon-fail{width:56px;height:44px;vertical-align:middle;display:inline-block;background-position:-107px -59px;}
.pay-fail .buy-again{margin-right:10px;color:#fff;} 

/*分享*/

.sharepage .share-box{width:490px;margin:30px auto;}
.sharepage .share-box textarea{width:470px;font:15px/1.4 '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,'\5B8B\4F53',sans-serif;resize:none;padding:5px;color:#000; }
.bdshare-button-style0-16 a,.bdshare-button-style0-16 .bds_more{font-size:14px !important;padding-left:24px !important;margin:12px 15px 6px 0!important;color:#000;}
.sharepage .share-box .txt{padding:10px 0;}
.sharepage .share-box .share{padding:8px 18px;border:1px solid #61aefe;color:#61aefe;display:inline-block;cursor:pointer;}
.sharepage .share-box .share:hover{background-color:#d2e7fd;}
.sharepage .share-box .forward{text-align:right;}
.forward .icon-forward{width:25px;height:25px;background-position:-5px -110px;vertical-align:middle;display:inline-block;}
.forward span{padding-left:2px;font-size:16px;}


.payment-tips{width:100%;height:100%;position:fixed;background:url(../img/pic-bg.png);top:0;left:0;display:none;}
.payment-tips-box{width:450px;position:absolute;top:50%;left:50%;z-index:100;margin-left:-225px;margin-top:-126px;background-color:#fff;}
.payment-tips-box .top{position:relative;padding:10px 10px;background-color:#67a1f7;color:#fff;font-size:16px;}
.payment-tips-box .icon-close{width:16px;height:16px;background-position:-108px -59px;position:absolute;top:16px;right:10px;cursor:pointer;}
.payment-tips-box .con{text-align:center;margin:50px 0;}
.payment-tips-box .con .icon-tsp{width:48px;height:54px;background-position:-39px -112px;display:inline-block;vertical-align:middle;}
.payment-tips-box .con .txt{display:inline-block;text-align:left;vertical-align:middle;color:#54536a;font-size:14px;line-height:20px;margin-left:10px;}
.payment-tips-box .bottom{background-color:#f6f4f3;text-align:center;padding:20px 0;}
.payment-tips-box .bottom .btn{padding:8px 10px;display:inline-block;margin-left:10px;background-color:#00a0e9;color:#fff;border-radius:4px;cursor:pointer;}
.payment-tips-box .bottom .btn:hover{background-color:#0c78a9;}
.payment-tips-box .bottom .btn-problem{background-color:#a3a3a3;}
.payment-tips-box .bottom .btn-problem:hover{background-color:#737373;}

.zf-title{padding:10px 0;border-bottom:1px dashed #999;font-size:18px;color:#333;}
.zf-details{margin:20px auto 50px;font-size:14px;}
.zf-details p{padding:8px 0;color:#333;}
.zf-details .dd-name{width:72px;display:inline-block;text-align:right;}

.popup-con-top .tit{text-align:center;color:#54536a;font-weight:600;}
.activation_code{width:372px;height:32px;line-height:32px;border:1px solid #ddd;padding:0 10px;box-sizing:border-box;}
.popup-con-main2{width:450px;margin:40px auto;}
.popup-con-main2 .sure{width:160px;height:40px;line-height:40px;text-align:center;background-color:#169bd5;color:#fff;border-radius:4px;display:block;margin:50px auto;border:none;}
.popup-con-main2 .sure:hover{background-color:#0f88bc;}
.popup-con-main2 h3{font-size:14px;color:#54536a;font-weight:500;text-align:center;padding:30px 0;}
#hint{margin-top:10px;}

.popup_other{padding:30px 0;}
.popup_other h4{font-size:20px;color:#666;text-align:left;}
.popup_other .bottom{margin-top:30px;}
.popup_other .txt{padding:10px 0;}
.popup_other p{margin-top:6px;color:#4c4c4c;}
.choose_reason{text-align:left;padding:15px 0 20px;}
.choose_reason li{position:relative;color:#4c4c4c;padding:10px 0 0 20px;cursor:pointer;}
.choose_reason li i{background:url(../images/icon.png) -183px -556px;width:16px;height:16px;position:absolute;top:11px;left:0;display:table;content:"";}
.choose_reason li.on i{background:url(../images/icon.png) -182px -537px;}
.btn{padding:10px 36px;color:#fff;font-size:16px;display:inline-block;color:#fff;transition:all 0.3s;-webkit-transition:all 0.3s;moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;*display:inline;*zoom:1;cursor:pointer;}
.btn_end,.btn_contain,.btn_contain_pay,.btn_submit[name="submit"],.btn_only_change{background-color:#199bf8;}
.btn_submit{padding:10px 50px;margin-left:20px;}
.btn_submit{background:#ccc;}
.btn_submit.on{background-color:#199bf8;}
.btn_end:hover,.btn_contain:hover,.btn_contain_pay:hover,.btn_submit[name="submit"]:hover,.btn_only_change:hover{background:#0d84da;}
.other_resson{height:100px;outline:none;resize:none;width:500px;padding:10px;box-sizing:border-box;border:1px solid #caddea;overflow-y:hidden}
.popup_other .bottom{text-align:center;}




